---
address: 127.0.0.1
port: 9292
bucket: castoro
#auth:
#  access-key-id: AStringOfAccessKeyId
#  secret-access-key: AStringOfSecretAccessKey
parameters: {}
headers:
  Date: <%= require 'time'; Time.now.httpdate %>

