
development:
  buckets:
    castoro:
      basket_type: 999
  castoro-client:
    my_host: 127.0.0.1
    gateways:
      - gateway01
      - gateway02

test:
  buckets:
    castoro:
      basket_type: 999
  castoro-client:
    my_host: 127.0.0.1
    gateways:
      - gateway01
      - gateway01

production:
  buckets:
    castoro:
      basket_type: 999
  castoro-client:
    gateways:
      - gateway01
      - gateway01

