
development:
  buckets:
    castoro:
      basket_type: 999
  users:
    XXXXXXXXXXXXXXXXXXXX:
      display_name: s3adapter_user
      secret_access_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  castoro-client:
    my_host: 127.0.0.1
    gateways:
      - gateway01
      - gateway02

test:
  domain: s3.adapter
  buckets:
    castoro:
      basket_type: 999
  users:
    XXXXXXXXXXXXXXXXXXXX:
      display_name: s3adapter_user
      secret_access_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  castoro-client:
    my_host: 127.0.0.1
    gateways:
      - gateway01
      - gateway01

production:
  buckets:
    castoro:
      basket_type: 999
  users:
  castoro-client:
    gateways:
      - gateway01
      - gateway01

